<div class="card post" id="post--new">
  <div class="post__head">
    <a href="/user/<%= user.handle %>">
      <img class="post__avatar" />
    </a>
    <div class="post__name">
      <a href="/user/<%= user.handle %>">
        <%= user.displayName %>
        <span class="post__handle">
          (@<%= user.handle %>)
        </span>
      </a>
    </div>
    <div class="post__time">
      New Post
    </div>
  </div>
  <div class="post__content">
    <form
      action="/posts"
      class="post__form"
      method="POST"
    >
      <textarea
        class="post__input"
        name="content"
        placeholder="Write about something..."
      ></textarea>
      <input
        class="button post__submit"
        type="submit"
        value="Post"
      />
    </form>
  </div>
</div>
