.post {
  position: relative;
  display: inline-block;
  text-align: left;
  margin-bottom: 40px;
  width: 500px;
  border: 0 !important;
  transition: margin-bottom 0.3s;
}
.post__head {
  position: relative;
  margin: 10px;
  height: 36px;
}
.post__avatar {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}
.post__name {
  position: absolute;
  top: 0;
  left: 46px;
}
.post__handle {
  color: #aaa;
  font-size: 8pt;
}
.post__time {
  color: #aaa;
  font-size: 8pt;
  left: 46px;
  position: absolute;
  top: 18px;
  a {
    color: #aaa;
    font-size: 8pt;
  }
}
.post__settings {
  position: absolute;
  right: 0px;
  height: 12px;
  width: 12px;
  overflow: hidden;
  cursor: pointer;
}
.post__input {
  font-size: inherit;
  font-family: inherit;
  width: 480px;
  min-height: 150px;
  border: 0;
  outline: 0;
  overflow: hidden;
  resize: none;
  background: #fff;
}
.post__content {
  clear: both;
  margin: 0 10px;
  text-align: justify;
  word-break: break-word;
  width: 480px;
}
.post__comments {
  padding: 10px;
  background: #fafafa;
}
.comment {
  position: relative;
  margin-bottom: 8px;
  z-index: 0;
  margin-top: 4px;
  clear: both;
  margin-left: -13px;
  padding-left: 10px;
}
.comment__avatar {
  position: relative;
  float: left;
  cursor: pointer;
  width: 36px;
  height: 36px;
}
.comment__name {
  position: relative; /*float:left;*/
  z-index: 5;
  a {
    color: #555;
  }
  a:hover {
    color: #444;
  }
}
.comment__content {
  position: relative;
  float: left;
  margin-left: 5px;
  max-width: 459px;
  width: 100%;
  word-break: break-word;
  text-align: justify;
}
.comment__foot {
  font-size: 8pt;
  color: #aaa !important;
}
.comment__input {
  border: 0;
  outline: none;
  width: 456px;
  background: rgba(0, 0, 0, 0);
  float: left;
}
