<form action="/posts" method="POST">
  <label>
    Title:
    <input name="title" type="text" />
  </label>
  <br />
  <label for="content">Content:</label>
  <br />
  <textarea id="content" name="content" cols="80" rows="40"></textarea>
  <br />
  <input type="submit" value="Publish" />
</form>
